/*
  -----------
    Naslovna
  -----------
*/
.first-section {
  padding: 50px 0;
  background-color: $color__background-firstsection;
  border-top: 1px  solid $color__border-section;
  border-bottom: 1px  solid $color__border-section;
}
.slider-container {
  margin-left: 0px;
  height: 500px;
  width: auto;

  h1 {
    padding-left: 0px;
    margin-top: 100px;
    color: $color__link;
    font-size: 40px;
  }
  p {
    padding-left: 0px;
    color: $color__link;
    font-size: 16px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $color__button-red;
    border-radius: 3px;

    &:hover {
      color: $color__link;
      text-decoration: none;
      background-color: darken($color__button-red, 10%);
    }
  }
}

.second-section {
  padding: 100px 0;
  width: auto;
  background-color: $color__background-body;
}

.second-section-container {
  height: 500px;
  background-color: #fff;
  margin-top: -200px;
  border-radius: 3px;
}

.second-section-container-1 {
  height: 500px;
  background-color: #fff;
  margin-top: 50px;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.second-section-item {
  height: 200px;
  background-color: $color__background-body;
}

.naslov {
  padding: 10px 0;
  text-align: left;

  a {
    font-size: 24px;
    color: $color__background-body;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: lighten($color__background-body, 30%);
    }
  }
}

.vise {
  height: 100px;
  text-align: right;

  a {
    font-size: 18px;
    color: $color__link-vise;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: darken( $color__link-vise, 15%);
    }
  }
}

.second-section-item {
  height: 300px;
}

.item-name {

  a {
    font-size: 16px;
    color: $color__background-body;
    font-weight: bold;

    &:hover {
      color: lighten($color__background-body, 30%);
      text-decoration: none;
    }
  }
}

.third-section {
  padding: 100px 0;
  width: auto;
  background-color: $color__background-firstsection;

  h1 {
    color: $color__link;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    color: $color__link;
    font-size: 16px;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $color__button-red;
    border-radius: 3px;

    &:hover {
      color: $color__link;
      text-decoration: none;
      background-color: darken($color__button-red, 20%);
    }
  }
}


/*
  -----------
    Footer
  -----------
*/

.site-footer {
  background-color: $color__background-body;
  padding: 100px 0 75px 0;
  text-align: center;

  a {
    color: 	$color__link-footer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      color: lighten($color__link-footer, 20%);
    }
  }



  p {
    padding-top: 50px;
    font-size: 14px;
    color: $color__link-footer;
    font-weight: bold;
    margin-bottom: 0;
  }
  .footer-menu {
    a {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-icons {
    display: inline-block;
    margin-top: 50px;
    margin-right: 75px;

    img {
      max-width: 20px;
      max-height: 20px;
      transition: $site__transition-ease-in-out;

      &:hover {
        fill: $color__button-red;
      }
    }

    #facebook {
      max-width: 20px;
      max-height: 20px;
      g {
        path {
          &:hover {
            transition: $site__transition-ease-in-out;
            fill: $color__button-red;
          }
        }
      }
  }
    #twitter {
      max-width: 20px;
      max-height: 20px;
      g {
        path {
          &:hover {
            transition: $site__transition-ease-in-out;
            fill: $color__button-red;
          }
        }
      }
  }
    &:last-child {
      margin-right: 0;
    }
  }
}
