
/*
  -----------
    Naslovna
  -----------
*/
.main-navigation {
  .site-name {
    margin-left: 0;
  }
}

/*
  -----------
    Naslovna
  -----------
*/

.first-section {
  padding: 50px 0 100px 0;

  .slider-container {
    h1 {
      margin-top: 100px;
    }
  }
}

.second-section {
  padding-bottom: 30px;
}

.third-section {
  padding: 100px 0;
}

/*
  -----------
    Footer
  -----------
*/

.site-footer {
  padding: 100px 0 75px 0;

  .footer-menu {
    a {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-icons {
    margin-top: 50px;
  }

  p {
    padding-top: 50px;
  }

  &:last-child {
    margin-right: 0;
  }
}
