
/*
  -----------
    Naslovna
  -----------
*/

.first-section {
  padding: 20px 0;

  .slider-container {
    h1 {
      margin-top: 50px;
    }
  }
}

.second-section {
  padding-bottom: 15px;
}

.third-section {
  padding: 10px 0 30px 0;
}

/*
  -----------
    Footer
  -----------
*/

.site-footer {
  padding: 50px 0 35px 0;

  .footer-icons {
    margin-top: 25px;
  }

  p {
    padding-top: 20px;
  }
}
