/*
  -----------
    Nav menu
  -----------
*/
.navbar-default {
  .site-name {
    margin-left: 0px;
  }
}



/*
  -----------
    Home page
  -----------
*/

.first-section {
  padding: 20px 0;

  .slider-container {
    h1 {
      margin-top: 50px;
    }
  }
}

.second-section {
  padding-bottom: 15px;
}

.third-section {
  padding: 10px 0 30px 0;
}

/*
  --------------
    Single Champ
  --------------
*/

.suggested {
  li {
  	margin: 25px;
  }
}


/*
  -----------
    Footer
  -----------
*/

.site-footer {
  padding: 50px 0 35px 0;

  .footer-icons {
    margin-top: 25px;
  }

  .footer-menu {
    a {
      margin-right: 50px;
      margin-left: auto;
    }
  }

  a {
    display: inline-block;
    color: 	$color__link-footer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      color: lighten($color__link-footer, 20%);
    }
  }
  p {
    padding-top: 20px;
  }
}
