.main-navigation {
	.navbar-brand {padding: 10px 0 0 0;}
	.navbar-nav>li>a{
		&:hover,
		&:active,
		&:focus { background-color: $color__background-body; color: darken($color__link, 50%); }
	}
	font-size: 16px;
	color: $color__link;
	padding: 0 100px 5px 100px;
	margin-bottom:  0;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
