/*
  ----------------
    Main Navigaion
  ----------------
*/
.navbar-default {
	font-size: 16px;
	background-color: $color__background-body;
	border: none;
	border-radius: 0;
	margin-bottom: 0;

	.navbar-nav {
		li {
			a {
				color: $color__link-white;
				padding: 30px 50px 30px 50px;
				font-weight: bold;
				&:hover,
				&:active,
				&:focus {
					background-color: $color__background-body;
					color: darken($color__link-white, 50%);
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.site-name {
		display: block;
		padding: 17px 0 0 0;
		font-weight: bold;

		&:hover,
		&:focus {
			color: $color__link-white;
			text-decoration: none;
		}
	}
}
.navbar-toggle {
	padding: 20px;
	border: none;
	span {
		background-color: $color__link-white;
	}
	&:focus {
		background-color: darken($color__link-white, 50%);
	}
}

.navbar-nav {
	li {
		a {
			color: $color__link-white;
			padding: 30px 0 30px 20px;
			&:hover,
			&:active,
			&:focus {
				background-color: $color__background-body;
				color: darken($color__link-white, 50%);
			}
		}
	}
}

/*
  ---------------------
    Secondary Navigaion
  ---------------------
*/

.secondary-menu {
	.navbar-default {
		font-size: 14px;
		background-color: $color__button-red;
		border: none;
		border-radius: 0;
		padding-top: 0;
		margin-bottom: 0;

		.navbar-nav {
			display: block;
			margin: 0 auto;
			float: none;
			text-align: center;
			li {
				display: inline-block;
				float: none;
				margin-top: 5px;
				a {
					padding: 10px 0 10px 20px;
					color: $color__link-white;
					font-weight: bold;
					&:hover,
					&:active,
					&:focus {
						background-color: $color__button-red;
						color: darken($color__link-white, 20%);
					}
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
